extends ../layout

block pagestyle
    style.
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            }

block body
    script.
        let _session = {
            session: "#{session.session}",
            token: "#{session.token}",
            id: "#{session.id}"
        };
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.6/sjcl.min.js')
    script(src="/scripts/lib/require.js")
    script.
        requirejs(["/scripts/core/main.js"], function(main) {
            const ws = new WebSocket('ws://steph-beeman.cs261.net:8008/game/testsocket');
            main.begin(_session, ws);
        });
