extends ../layout

block body
    script.
        var _session = {
            session: "#{session.session}",
            token: "#{session.token}",
            id: "#{session.id}"
        };
        let first = new Date().valueOf();

        const ws = new WebSocket('ws://steph-beeman.cs261.net:8008/game/testsocket');

        ws.onmessage = function(event) {
            console.log((new Date().valueOf() - first) + ' ==> ' + event.data);
        }

        ws.onopen = function(event) {
            ws.send("HELO" + _session.session + "|");
            console.log("Connected");
        }
